/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #fafafa !default;
$text-color: #1d1d1f !default;
$muted-text-color: #86868b !default;
$primary-color: #ea4235 !default;
$border-color: #e4e4e4 !default;
$footer-background-color: #ededed !default;
$link-color: #4285f4 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 30%) !default;

/* dirt syntax highlighting (base16) */
$base00: #212121 !default;
$base01: #303030 !default;
$base02: #353535 !default;
$base03: #4A4A4A !default;
$base04: #B2CCD6 !default;
$base05: #EEFFFF !default;
$base06: #EEFFFF !default;
$base07: #FFFFFF !default;
$base08: #F07178 !default;
$base09: #F78C6C !default;
$base0a: #FFCB6B !default;
$base0b: #C3E88D !default;
$base0c: #89DDFF !default;
$base0d: #82AAFF !default;
$base0e: #C792EA !default;
$base0f: #FF5370 !default;
